header {
  color: $color-text-light;
  background: url('#{$path-img}/header-bg.jpg') no-repeat center;
  background-size: cover;
  height: 700px;
}

nav {
  @include clearfix;
}

.logo {
  width: 265px;
  display: inline-block;
  padding: 20px;
}

.menu {
  float: right;
  li {
    display: inline ;
  }
}
